/* Dashboard.module.css */

.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  .menuBar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    background-color: #1a1a1a;
    border-bottom: 1px solid #00bfff;
  }
  
  .menuItem {
    color: #00bfff;
    cursor: pointer;
  }
  
  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    width: 80%;
    border: 1px solid #00bfff;
    border-radius: 8px;
  }
  